<%- include('partials/header'); %> 

<h1>Compose</h1>
    <form action="/compose" method="POST">
        <div class="form group">
            <label for="postTitle">Title</label>
            <input class="form-control" id="postTitle" name="postTitle" type="text" required>
        </div>
        <div class="form group">
            <label for="postText">Post</label>
            <textarea class="form-control" name="postText" id="postText" rows="3"></textarea>
        </div>
        <br>
            <button class="btn btn-primary" type="submit" name="button">Publish</button>
    </form>


<%- include('partials/footer'); %> 